<div class="profile-container">
    <div class="profile-header">Profile Information</div>
  
    <div class="profile-item">
      <span class="label">Name:</span>
      <span class="value">{{ user?.name }}</span>
    </div>
  
    <div class="profile-item">
      <span class="label">Email:</span>
      <span class="value">{{ user?.email }}</span>
    </div>
  
    <div class="profile-item">
      <span class="label">Role:</span>
      <span class="value">{{ user?.role }}</span>
    </div>
  
    <!-- <div class="change-password-btn">
      <button nz-button nzType="primary" (click)="changePassword()">Change Password</button>
    </div> -->
  </div>
  