<!-- Hide all headers when navbarVisible is false -->
<div *ngIf="navbarVisible">

  <!-- When user is not logged in -->
  <nz-header *ngIf="!isUserLoggedIn && !isAdminLoggedIn" class="main-header">
    <a class="brand" routerLink="/login">Quiz Web</a>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Student Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
      <a nz-button nzType="link" routerLink="/admin-signup" routerLinkActive="active">Admin Sign Up</a>
    </div>
  </nz-header>

  <!-- Admin Navbar -->
<nz-header *ngIf="isAdminLoggedIn" class="main-header admin-header">
  <a class="brand" routerLink="/admin/dashboard">Quiz Web</a>
  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a nz-button nzType="link" routerLink="/admin/create-test" routerLinkActive="active">Create Test</a>
    <a nz-button nzType="link" routerLink="/admin/View-test-results" routerLinkActive="active">View Results</a>
    <a nz-button nzType="link" routerLink="/admin/profile" routerLinkActive="active">Profile</a>
    <a nz-button nzType="link" (click)="logout()">Logout</a>
  </div>
</nz-header>

<!-- User Navbar -->
<nz-header *ngIf="isUserLoggedIn" class="main-header user-header">
  <a class="brand" routerLink="/user/dashboard">Quiz Web</a>
  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
    <a nz-button nzType="link" routerLink="/user/view-my-test-results" routerLinkActive="active">View Results</a>
    <a nz-button nzType="link" routerLink="/user/profile" routerLinkActive="active">Profile</a>
    <a nz-button nzType="link" (click)="logout()">Logout</a>
  </div>
</nz-header>

<router-outlet></router-outlet>