<div class="profile-container">
  <div class="profile-header">Profile Information</div>

  <div class="profile-item">
    <span class="label">Name:</span>
    <span class="value">{{ user?.name }}</span>
  </div>

  <div class="profile-item">
    <span class="label">Email:</span>
    <span class="value">{{ user?.email }}</span>
  </div>

  <div class="profile-item">
    <span class="label">Branch:</span>
    <span class="value">{{ user?.branch }}</span>
  </div>
  

  
</div>
